body {
  font-family: Poppins;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__top {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url(https://i.pinimg.com/736x/c9/2b/5d/c92b5d89eb53814b63a889b8dac77ee2.jpg);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%), url(https://i.pinimg.com/736x/c9/2b/5d/c92b5d89eb53814b63a889b8dac77ee2.jpg);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%), url(https://i.pinimg.com/736x/c9/2b/5d/c92b5d89eb53814b63a889b8dac77ee2.jpg);
  background-position: 0 0;
  background-repeat: repeat;
  background-size: contain;
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}
.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}
.header__top .logo {
  font-size: 45px;
  font-weight: 900;
  font-style: italic;
  color: #fff;
  padding-left: 67px;
  position: relative;
}
.header__top .logo::before {
  content: "";
  position: absolute;
  width: 67px;
  height: 67px;
  left: 67px;
  background-image: url(../images/car-wheel.png);
  background-size: cover;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
.header__menu .navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__menu .navbar__item {
  padding: 10px;
}
.header__menu .navbar__link {
  font-weight: bold;
  color: #fff;
  -webkit-transition: all 0.2s linear 0.2s;
  -o-transition: all 0.2s linear 0.2s;
  transition: all 0.2s linear 0.2s;
}
.header__menu .navbar__link:hover {
  color: #00ff11;
  text-shadow: 2px 2px 8px rgb(0, 255, 17);
}
.header__menu .navbar__link.active {
  color: rgb(246, 255, 0);
}
.header__menu .navbar__link.active:hover {
  color: #ff2828;
  text-shadow: 2px 2px 8px #ff2828;
}
.header__main {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8))), url(../images/orkun-azap-_c7haaSAcIg-unsplash.jpg);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.8)), url(../images/orkun-azap-_c7haaSAcIg-unsplash.jpg);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8)), url(../images/orkun-azap-_c7haaSAcIg-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header__main-inner {
  padding: 25px 50px;
}
.header__main-content {
  text-align: center;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 120px;
  padding-right: 120px;
}
.header__main-title {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}
.header__main-desc {
  font-size: 24px;
  color: #fff;
  margin: 35px 20px;
  padding: 10px;
}
.header__main .swiper {
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  padding: 0;
}
.header__main .swiper-wrapper {
  text-align: center;
}
.header__main .swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
  margin-top: auto;
  width: 100%;
  height: 100%;
}
.header__main .parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8))), url(../images/orkun-azap-_c7haaSAcIg-unsplash.jpg);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.8)), url(../images/orkun-azap-_c7haaSAcIg-unsplash.jpg);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8)), url(../images/orkun-azap-_c7haaSAcIg-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.header__main .swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}
.header__main .swiper-slide .subtitle {
  font-size: 21px;
}
.header__main .swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
  margin: 0 auto;
}
.header__main .swiper-pagination-bullet {
  background-color: #fff;
  opacity: 0.6;
}
.header__main .swiper-pagination-bullet-active {
  background-color: #fff;
  opacity: 1;
}
.header__main .swiper-button-next,
.header__main .swiper-button-prev {
  opacity: 1;
  color: #fff;
}
.header__main .swiper-button-disabled {
  opacity: 0.6;
}

.advantages {
  background-color: #fff;
  padding-top: 35px;
}
.advantages__title {
  color: #000;
  font-size: 32px;
  text-align: center;
  font-weight: 900;
}
.advantages__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  padding: 50px 0;
}
.advantages__card {
  position: relative;
  cursor: pointer;
}
.advantages__card-img {
  max-width: 100px;
}
.advantages__card-title {
  margin-top: 10px;
  color: #fff;
}
.advantages__card-face {
  width: 300px;
  height: 200px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.advantages__card-face.face1 {
  position: relative;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  -webkit-transform: translateY(100px);
      -ms-transform: translateY(100px);
          transform: translateY(100px);
}
.advantages__card-face.face1 .content {
  opacity: 0.2;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantages__card-face.face2 {
  position: relative;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px);
}
.advantages__card:hover .face1 {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.advantages__card:hover .face1 .pricing {
  background-color: rgba(255, 40, 40, 0.85);
}
.advantages__card:hover .face1 .instructor {
  background-color: rgba(246, 255, 0, 0.85);
}
.advantages__card:hover .face1 .success {
  background-color: rgba(0, 255, 17, 0.85);
}
.advantages__card:hover .face1 .content {
  opacity: 1;
}
.advantages__card:hover .face2 {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.instructors {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../images/zebra-crossing.webp);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url(../images/zebra-crossing.webp);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url(../images/zebra-crossing.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}
.instructors__title {
  color: #fff;
  font-size: 32px;
  text-align: center;
}
.instructors .slider {
  position: relative;
  margin: 50px 0;
}
.instructors .slider__slide {
  max-width: 300px;
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 5px 30px 0 rgba(255, 255, 255, 0.25);
          box-shadow: 0 5px 30px 0 rgba(255, 255, 255, 0.25);
}
.instructors .slider__slide-title {
  font-size: 24px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin: 20px 0;
}
.instructors .slider__slide-img-wrapper {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.instructors .slider__slide-img {
  width: 95%;
  height: 95%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.instructors .slick-slide {
  opacity: 0.1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.instructors .slick-slide.slick-active {
  opacity: 0.4;
}
.instructors .slick-slide.slick-active.slick-current {
  opacity: 1;
}
.instructors .slick-track {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.instructors .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.instructors .swiper-slide {
  background-position: center;
  background-size: cover;
}

.courses {
  background-color: #fff;
  padding: 50px 0;
}
.courses__title {
  text-align: center;
  font-size: 32px;
  font-weight: 900;
}
.courses__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 45px 0;
}
.courses__info {
  padding: 0 20px;
}
.courses__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.courses .card {
  width: 600px;
  margin-bottom: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}
.courses .card:hover .card__additional {
  width: 100%;
}
.courses .card__title {
  text-align: center;
}
.courses .card__more {
  display: inline-block;
}
.courses .card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.courses .card__info-name {
  font-weight: bold;
}
.courses .card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.courses .card__img-wrapper {
  width: 300px;
  height: 300px;
}
.courses .card__additional {
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
  overflow: hidden;
  width: 300px;
  display: flex;
}
.courses .card__car-card {
  width: 300px;
}
.courses .card__more-info {
  width: 300px;
  padding: 20px;
}
.courses .card__general {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  padding: 20px;
}
.courses .card__more {
  font-size: 14px;
  font-weight: 200;
}

footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}